:root {
    --bg: hsl(0, 100%, 5%);
    --simbg: hsl(0, 0%, 5%);
}

:root {
    --ar-16-9: calc(16/9);
    --ar-4-3: calc(4/3);
    --arh-16-9: calc(100vh - (100vh * var(--ar-16-9) - 100vw) / var(--ar-16-9));
    --arh-4-3: calc(100vh - (100vh * var(--ar-4-3) - 100vw) / var(--ar-4-3));
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
}

#view {
    position: relative;
    height: 100vh;
    aspect-ratio: 1;
    background-color: var(--simbg);
}

#view > canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#view[data-ar="4/3"] {
    max-height: var(--arh-4-3);
    aspect-ratio: 4/3;
}

#view[data-ar="16/9"] {
    max-height: var(--arh-16-9);
    aspect-ratio: 16/9;
}

#counter {
    position: absolute;
    bottom: 2px;
    left: 2px;
    padding: 2px;
    font-size: 1.5rem;
    color: white;
}
